#zegar {
    font-size: 3em;
    margin-left: 200px;
    font-weight: bold;
}

#kartka {
    margin: auto;
    text-align: center;
    height: 400px;
    width: 300px;
    border: 3px rgb(83, 54, 54) solid;
    border-radius: 8px;
    box-shadow: 5px 5px grey;
    background-color: lightgray;
}

#month {
    margin-top: 30px;
    font-size: 1.7em;
    font-weight: bold;
}

#day {
    margin-top: 20px;
    font-size: 9.5em;
    font-weight: bold;
}

#weekDay {
    margin-top: 20px;
    font-size: 2.5em;
    font-weight: bold;
}

#year {
    margin-top: 20px;
    font-size: 1.5em;
    font-weight: bold;
}
.normal{color:grey;}
.niedziela{color: red;}
.sobota{color:green;}
#popup{
    position: absolute;
    top:100px;
    /* left:20px; */
    background-color: lightyellow;
    width: 200px;
    min-height: 50px;
    padding: 15px;
    border: solid saddlebrown 1px;
    border-radius: 5px;
    opacity: 0;
}
.show{    
    animation: up 2s;
    animation-fill-mode: forwards;  
}
.hide{   
    animation: down 2s;
    animation-fill-mode: forwards;  
}
@keyframes up{
    from{opacity: 0;}
    to{opacity: 1;}
}
@keyframes down{
    from{opacity: 1;}
    to{opacity: 0;}
}