form{
    margin: 20px;
}
.line{margin: 20px;}
label{display: inline-block; width: 120px;text-align: right;}
.error{color: red;}
input[type=checkbox]{
    margin-left: 125px;
}
input[type=button]{
    padding: 7px;
    width: 150px;
    margin-left: 135px;
}
