#baner{
    height: 90px;
    background-color: burlywood;
    font-size: 3em;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
    color: cornsilk;
    text-align: center;
    padding: 10px;
    font-variant-caps: petite-caps;
}
body{padding: 0;margin: 0;}
#zyczenia{
    font-size: 1.4em;
    padding: 10px;
    position: fixed;
    right: -250px;
    border: crimson solid 2px;
    border-radius: 5px;
    min-height: 350px;
    width: 400px;
    background-color: rgb(221, 198, 202);
    color: rgb(138, 49, 67);
    opacity:0.2;
    
}
#zyczenia:hover{
    animation: ruch 2s;
    right: 10px;
    opacity: 1.0;
}
@keyframes ruch{
    from{right: -250px; opacity: 0.2;}
    to{right:10px; opacity:1.0}
}